mat-accordion{
    width: 70%;
    margin-left: 15%;
    display: block;
    margin-bottom: 10%;
}

mat-expansion-panel{
    text-align: left;
    border-radius: 4px 0 0 4px;
    background-color: rgb(223, 234, 238);
    margin-top: 0.5%;
    width: 100%
}
mat-panel-title{
    color: black;
    font-size:1.5em;
    line-height: 2em;
}

/deep/.mat-list-base .mat-list-item {
    color: black;
    font-size: 80%;
}

.listItems{
    display: inline-block;
} 

.idCustomer {
    width: 40%;
    display: inline-block;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color: #607D8B;
    position: relative;
    left: -1px;
    top: -4px;
    margin-right: .8em;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: center;
    line-height: 2em;
}

.editingListCustomers {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 25%;
  }
  
  .editingListCustomers > * {
    background-color: rgb(223, 234, 238);
    border-radius: 4px 0 0 4px;
  }
  mat-form-field {
     margin: .1em;
  }
  .editingListCustomers h2 {
    background-color: white;
  }

  .mat-raised-button {
    width: 25%;
    font-weight: bolder;
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .mat-raised-button:hover {
    right: 0.1em;
    background-color: rgb(86, 110, 121);
}

.ng-star-inserted {
    font-size: 75%;
    color: red;
}

/deep/ .mat-form-field-infix{
    color: black;
}

/deep/ .mat-form-field.mat-form-field-invalid .mat-form-field-label {
    color:black;
}

/deep/ mat-form-field[_ngcontent-c1] {
    display: block;
    margin: 1em;
}

::ng-deep .mat-list-base .mat-list-item .mat-list-text, 
::ng-deep .mat-list-base .mat-list-option .mat-list-text {
    display: inline-block;
}

  
